
<h3 class="sectionedit1" id="imap_查驗帳號">IMAP 查驗帳號</h3>
<div class="level3">

<p>
<a href="/lib/exe/detail.php?id=imap_%E6%9F%A5%E9%A9%97%E5%B8%B3%E8%99%9F&amp;media=imap%E5%9F%B7%E8%A1%8C%E7%B5%90%E6%9E%9C.gif" class="media" title="imap執行結果.gif"><img src="/lib/exe/fetch.php?media=imap%E5%9F%B7%E8%A1%8C%E7%B5%90%E6%9E%9C.gif" class="media" title="600" alt="600" /></a>
</p>
<dl class="code">
<dt><a href="/doku.php?do=export_code&amp;id=imap_%E6%9F%A5%E9%A9%97%E5%B8%B3%E8%99%9F&amp;codeblock=0" title="下載程式碼片段" class="mediafile mf_py">imap.py</a></dt>
<dd><pre class="code python"><span class="kw1">import</span> <span class="kw3">imaplib</span>
&nbsp;
<span class="co1"># use gmail as imap server</span>
mail <span class="sy0">=</span> <span class="kw3">imaplib</span>.<span class="me1">IMAP4_SSL</span><span class="br0">&#40;</span><span class="st0">'imap.gmail.com'</span><span class="sy0">,</span> <span class="nu0">993</span><span class="br0">&#41;</span>
<span class="kw1">try</span>:
    <span class="co1"># login to gmail imap server (need to enable imap function on email@address)</span>
    status<span class="sy0">,</span> response <span class="sy0">=</span> mail.<span class="me1">login</span><span class="br0">&#40;</span><span class="st0">'email@address'</span><span class="sy0">,</span> <span class="st0">'password'</span><span class="br0">&#41;</span>
    <span class="kw1">if</span> response<span class="br0">&#91;</span><span class="nu0">0</span><span class="br0">&#93;</span>.<span class="me1">decode</span><span class="br0">&#40;</span><span class="st0">&quot;UTF-8&quot;</span><span class="br0">&#41;</span>.<span class="me1">find</span><span class="br0">&#40;</span><span class="st0">&quot;Success&quot;</span><span class="br0">&#41;</span>:
        <span class="co1"># login Sucess</span>
        <span class="kw1">print</span><span class="br0">&#40;</span><span class="st0">&quot;login&quot;</span><span class="br0">&#41;</span>
<span class="kw1">except</span>:
    <span class="co1"># can not login</span>
    <span class="kw1">print</span><span class="br0">&#40;</span><span class="st0">&quot;can not login&quot;</span><span class="br0">&#41;</span>
mail.<span class="me1">logout</span><span class="br0">&#40;</span><span class="br0">&#41;</span></pre>
</dd></dl>

</div>
