
<h1 class="sectionedit1" id="註冊新使用者">註冊新使用者</h1>
<div class="level1">

<p>
若要註冊本 wiki 的帳號，請填寫下列資料。請確定您提供的是<strong>合法的電郵地址</strong>。如果您不必填寫密碼，系統就會為您自動產生登入密碼，並寄送到該電郵地址。登入名稱須符合正確<a href="http://www.dokuwiki.org/pagename" class="interwiki iw_doku" title="http://www.dokuwiki.org/pagename">頁面名稱</a>之條件。
</p>

</div>
