
<p>
2014s_cdg7 學習成果
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E8%BF%91%E7%AB%AF%E5%9F%B7%E8%A1%8Cdokuwiki" class="wikilink1" title="近端執行dokuwiki">近端執行dokuwiki</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=openshift_on_dokuwiki" class="wikilink1" title="openshift_on_dokuwiki">openShift上的dokuwiki執行流程</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%BB%BA%E7%AB%8B_cmsimply_%E7%B6%B2%E7%AB%99" class="wikilink1" title="建立_cmsimply_網站">建立 CMSimply 網站</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=imap_%E6%9F%A5%E9%A9%97%E5%B8%B3%E8%99%9F" class="wikilink1" title="imap_查驗帳號">IMAP 查驗帳號</a></div>
</li>
<li class="level1"><div class="li"> <a href="https://copy.com/tKOC4n4KxbvO" class="urlextern" title="https://copy.com/tKOC4n4KxbvO"  rel="nofollow">第7組leo專案下載</a></div>
</li>
</ol>

<p>
相關下載
</p>
<ol>
<li class="level1"><div class="li"> <a href="http://copy.com/HFgyOvQpsQPl" class="urlextern" title="http://copy.com/HFgyOvQpsQPl"  rel="nofollow">dokuwiki程式碼</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://copy.com/f4Cal0KAmI7V" class="urlextern" title="http://copy.com/f4Cal0KAmI7V"  rel="nofollow">PHP 5.5.9</a></div>
</li>
</ol>
