
<p>
<a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88%E5%AF%A6%E7%BF%92" class="wikilink1" title="協同產品設計實習">協同產品設計實習</a> 第七組
</p>
<pre class="code">組員
49823207 賴思綺
40023207 傅彥綺
40123110 劉翼瑄</pre>
<ul>
<li class="level1"><div class="li"> 內容管理規劃:</div>
</li>
</ul>
<ol>
<li class="level1"><div class="li"> 有序列表項目圖像檔案(png, jpg, gif) 將放在各組員的 CMSimply 網站, 然後以連結置入頁面</div>
</li>
<li class="level1"><div class="li"> 一般檔案(7zip, zip, doc, leo 等) 將放在 copy.com, 然後以連結置入頁面</div>
</li>
<li class="level1"><div class="li"> 影片檔案(flv) 將放在 Vimeo, 然後以 vshare plugin 語法置入頁面</div>
</li>
<li class="level1"><div class="li"> 零件檔案(stl) 將放在各組員的 CMSimply 網站, 然後以連結置入頁面</div>
</li>
<li class="level1"><div class="li"> 遠端桌面: <a href="https://www.nomachine.com/" class="urlextern" title="https://www.nomachine.com/"  rel="nofollow">https://www.nomachine.com/</a></div>
</li>
</ol>

<p>
php web server:
</p>

<p>
<a href="http://localhost:8080/brython/site/tests/yeneditor.html" class="urlextern" title="http://localhost:8080/brython/site/tests/yeneditor.html"  rel="nofollow">http://localhost:8080/brython/site/tests/yeneditor.html</a>
</p>

<p>
mongoose:
</p>

<p>
<a href="http://localhost:8084/brython/site/tests/yeneditor.html" class="urlextern" title="http://localhost:8084/brython/site/tests/yeneditor.html"  rel="nofollow">http://localhost:8084/brython/site/tests/yeneditor.html</a>
</p>
