
<h1 class="sectionedit1" id="playground">PlayGround</h1>
<div class="level1">

<p>
dokuwiki 資料展示
</p>

</div>
<!-- EDIT1 SECTION "PlayGround" [2-50] -->
<h1 class="sectionedit2" id="遠端影片引用">遠端影片引用</h1>
<div class="level1">

<p>
<object width="425" height="350"  type="application/x-shockwave-flash" data="http://www.youtube.com/v/I3dezFzsNss" align="" title="">
  <param name="movie" value="http://www.youtube.com/v/I3dezFzsNss"></param>
  <param name="wmode" value="transparent"></param>
</object>


</p>



</div>
<!-- EDIT2 SECTION "遠端影片引用" [51-153] -->
<h1 class="sectionedit3" id="遠端圖片引用">遠端圖片引用</h1>
<div class="level1">

<p>
CMSimply 網站上的圖片引用 (480&times;320 為圖片大小)
</p>

<p>
<a href="/lib/exe/fetch.php?tok=7a25c3&amp;media=http%3A%2F%2Fpublic-cmsimply.rhcloud.com%2Fdownload%2F%3Ffilepath%3D%2Fvar%2Flib%2Fopenshift%2F52fa148250044683d30001c1%2Fapp-root%2Fdata%2F%2Fimages%2FDesert.jpg" class="media" title="http://public-cmsimply.rhcloud.com/download/?filepath=/var/lib/openshift/52fa148250044683d30001c1/app-root/data//images/Desert.jpg"><img src="/lib/exe/fetch.php?w=480&amp;h=320&amp;tok=5c8d83&amp;media=http%3A%2F%2Fpublic-cmsimply.rhcloud.com%2Fdownload%2F%3Ffilepath%3D%2Fvar%2Flib%2Fopenshift%2F52fa148250044683d30001c1%2Fapp-root%2Fdata%2F%2Fimages%2FDesert.jpg" class="media" title="public-cmsimply.rhcloud.com_download_filepath_var_lib_openshift_52fa148250044683d30001c1_app-root_data_images_desert.jpg" alt="public-cmsimply.rhcloud.com_download_filepath_var_lib_openshift_52fa148250044683d30001c1_app-root_data_images_desert.jpg" width="480" height="320" /></a>
</p>

</div>
<!-- EDIT3 SECTION "遠端圖片引用" [154-392] -->
<h1 class="sectionedit4" id="遠端零件檔案引用">遠端零件檔案引用</h1>
<div class="level1">

<p>
<a href="/lib/exe/fetch.php?media=url_https:public-cmsimply.rhcloud.com_static_viewstl.html" class="media mediafile mf_html wikilink2" title="url_https:public-cmsimply.rhcloud.com_static_viewstl.html">public-cmsimply.rhcloud.com_static_viewstl.html</a>
</p>

</div>
<!-- EDIT4 SECTION "遠端零件檔案引用" [393-526] -->
<h1 class="sectionedit5" id="python_程式碼引用">Python 程式碼引用</h1>
<div class="level1">
<pre class="code python"><span class="kw1">import</span> hashlib
<span class="kw1">import</span> <span class="kw3">string</span>
<span class="kw1">import</span> <span class="kw3">random</span>
&nbsp;
<span class="st0">''' sha1 secure hashes '''</span>
&nbsp;
<span class="co1"># convert user_password into sha1 encoded string</span>
<span class="kw1">def</span> gen_password<span class="br0">&#40;</span>user_password<span class="br0">&#41;</span>:
    <span class="kw1">return</span> hashlib.<span class="me1">sha1</span><span class="br0">&#40;</span>user_password.<span class="me1">encode</span><span class="br0">&#40;</span><span class="st0">&quot;utf-8&quot;</span><span class="br0">&#41;</span><span class="br0">&#41;</span>.<span class="me1">hexdigest</span><span class="br0">&#40;</span><span class="br0">&#41;</span>
&nbsp;
<span class="co1"># generate random user password</span>
<span class="kw1">def</span> user_password<span class="br0">&#40;</span>size<span class="sy0">=</span><span class="nu0">6</span><span class="sy0">,</span> chars<span class="sy0">=</span><span class="kw3">string</span>.<span class="me1">ascii_uppercase</span> + <span class="kw3">string</span>.<span class="me1">digits</span><span class="br0">&#41;</span>:
    <span class="kw1">return</span> <span class="st0">''</span>.<span class="me1">join</span><span class="br0">&#40;</span><span class="kw3">random</span>.<span class="me1">choice</span><span class="br0">&#40;</span>chars<span class="br0">&#41;</span> <span class="kw1">for</span> _ <span class="kw1">in</span> <span class="kw2">range</span><span class="br0">&#40;</span>size<span class="br0">&#41;</span><span class="br0">&#41;</span>
&nbsp;
<span class="co1"># read lines from file</span>
lines <span class="sy0">=</span> <span class="kw2">open</span><span class="br0">&#40;</span><span class="st0">&quot;2b_stud_list.txt&quot;</span><span class="sy0">,</span> <span class="st0">&quot;r&quot;</span><span class="sy0">,</span> encoding<span class="sy0">=</span><span class="st0">&quot;utf-8&quot;</span><span class="br0">&#41;</span>.<span class="me1">read</span><span class="br0">&#40;</span><span class="br0">&#41;</span>.<span class="me1">splitlines</span><span class="br0">&#40;</span><span class="br0">&#41;</span>
&nbsp;
<span class="co1"># we may also need to notice every user with computer generated passwords</span>
<span class="kw1">for</span> i <span class="kw1">in</span> <span class="kw2">range</span><span class="br0">&#40;</span><span class="kw2">len</span><span class="br0">&#40;</span>lines<span class="br0">&#41;</span><span class="br0">&#41;</span>:
    password <span class="sy0">=</span> user_password<span class="br0">&#40;</span><span class="nu0">8</span><span class="sy0">,</span> <span class="st0">&quot;ABCDEFGHJKMNPQRSTUVWXYZ23456789&quot;</span><span class="br0">&#41;</span>
    <span class="kw1">print</span><span class="br0">&#40;</span>lines<span class="br0">&#91;</span>i<span class="br0">&#93;</span>.<span class="me1">split</span><span class="br0">&#40;</span><span class="st0">&quot;<span class="es0">\t</span>&quot;</span><span class="br0">&#41;</span><span class="br0">&#91;</span><span class="nu0">0</span><span class="br0">&#93;</span><span class="sy0">,</span> <span class="st0">&quot;-&quot;</span><span class="sy0">,</span> password<span class="sy0">,</span> <span class="st0">&quot;-&quot;</span><span class="sy0">,</span> gen_password<span class="br0">&#40;</span>password<span class="br0">&#41;</span><span class="sy0">,</span> \
            <span class="st0">&quot;-&quot;</span><span class="sy0">,</span> lines<span class="br0">&#91;</span>i<span class="br0">&#93;</span>.<span class="me1">split</span><span class="br0">&#40;</span><span class="st0">&quot;<span class="es0">\t</span>&quot;</span><span class="br0">&#41;</span><span class="br0">&#91;</span><span class="nu0">1</span><span class="br0">&#93;</span><span class="br0">&#41;</span></pre>

</div>
<!-- EDIT5 SECTION "Python 程式碼引用" [527-1374] -->
<h1 class="sectionedit6" id="內部頁面引用">內部頁面引用</h1>
<div class="level1">

<p>
<a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week1" class="wikilink2" title="協同產品設計:2014s_week1" rel="nofollow">2014s_week1</a>
</p>

</div>
<!-- EDIT6 SECTION "內部頁面引用" [1375-1444] -->
<h1 class="sectionedit7" id="排序列表資料引用">排序列表資料引用</h1>
<div class="level1">

<p>
協同產品設計實習期中成績來源:
</p>
<ol>
<li class="level1"><div class="li"> 各組每週成員協同設計自評成績總和/週數, 佔各學員期中成績 50%</div>
</li>
<li class="level1"><div class="li"> 各組期中報告成績(由老師與助教評分), 佔各學員期中成績 25%, 學員期中報告自評成績, 佔各學員期中成績 25%</div>
</li>
<li class="level1"><div class="li"> 平常表現, 加減分在總分 10 分以內.</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "排序列表資料引用" [1445-] -->