
<h4 id="快速指南">快速指南：</h4>
<div class="level4">

<p>
你可以用這個頁面，為本 wiki 中的分類名稱或頁面增加或移除權限。
</p>

<p>
左方面板顯示了所有分類名稱和頁面。
</p>

<p>
上方表格允許你觀看及修改選取的使用者或群組的權限。
</p>

<p>
下方表格顯示了目前所有的存取控制表 (<abbr title="Access Control List">ACL</abbr>)，你可以用它快速刪除或更改多項規則。
</p>

<p>
閱讀 <a href="http://www.dokuwiki.org/acl" class="interwiki iw_doku" title="http://www.dokuwiki.org/acl">official documentation on ACL</a> 可以幫助你完整地了解 DokuWiki 存取控制的運作。
</p>

</div>
