<ol>
<li class="level1"><div class="li"> 在 OpenShift 建立一個 Python 3.3 應用程式.</div>
</li>
<li class="level1"><div class="li"> Source Code 欄位填入:<a href="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git" class="urlextern" title="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git"  rel="nofollow">https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git</a></div>
</li>
<li class="level1"><div class="li"> Scaling 選擇 Scale with Web Traffic.</div>
</li>
<li class="level1"><div class="li"> 完成後, 登入所建立的 CMSimply 網站, 內定的管理者密碼為: admin</div>
</li>
<li class="level1"><div class="li"> 登入後, 選擇 config, 在 password 欄位中輸入您所選擇的管理者密碼後, 按下 send, 就可更改管理者密碼.</div>
</li>
<li class="level1"><div class="li"> 有關 CMSimply 操作, 參考 <a href="https://wiki.mde.tw/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88%E7%92%B0%E5%A2%83:cmsimply_%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8A" class="urlextern" title="https://wiki.mde.tw/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88%E7%92%B0%E5%A2%83:cmsimply_%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8A"  rel="nofollow">CMSimply 使用手冊</a>.</div>
</li>
<li class="level1"><div class="li"> 請利用 git 將 OpenShift 上的 CMSimply 網站程式碼 clone 到近端環境.</div>
</li>
<li class="level1"><div class="li"> 建立一個 Bitbucket 帳號, 建立一個對應的 repository, 在近端以 git remote add 指令, 針對上述所建立的 CMSimply 網站程式碼, 建立一個遠端同步程式倉儲, 利用 git push 將近端程式碼 步驟</div>
</li>
<li class="level1"><div class="li"> 爾後修改 CMSimply 程式碼後, 將同步以 OpenShift 呈現網站, Bitbucket 則公佈所對應的 CMSimply 程式碼.</div>
</li>
</ol>

<p>
vimeo:
</p>
<iframe src="http://player.vimeo.com/video/92928188" height="350" width="425" class="vshare__none" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
<p>
將資料push到Bitbucket的步驟
</p>
<pre class="code">Step 1: 在Bitbucket上Create一個新的專案
Step 2: 打開CMD
Step 3: cd your project
Step 4: git init
Step 5: git rommote add bitbucket url
Step 6: git config --global user.email &quot;@email.com&quot;
Step 7: git config --global user.name &quot;name&quot;
Step 8: git add .
Step 9: git commit -m &quot;add file&quot;
Step 10: git push</pre>
