
<h1 class="sectionedit1" id="附加元件管理器">附加元件管理器</h1>
<div class="level1">

<p>
您可以用本頁管理與 Dokuwiki <a href="http://www.dokuwiki.org/plugins" class="interwiki iw_doku" title="http://www.dokuwiki.org/plugins">附加元件</a> 相關的選項。若要正常下載及安裝附加元件，附加元件所在的資料夾必須允許網頁伺服器寫入。
</p>

</div>
