
<p>
在OpenShift建立Dokuwiki的流程
</p>
<pre class="code">Step 1: 
Step 2:</pre>

<p>
vimeo <a href="https://vimeo.com/92906489" class="urlextern" title="https://vimeo.com/92906489"  rel="nofollow">https://vimeo.com/92906489</a> <br/>

</p>
<iframe src="http://player.vimeo.com/video/92906489" height="350" width="425" class="vshare__none" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
<p>
 <br/>

</p>
