
<p>
dokuwiki 是一套以 php 編寫, 無需資料庫的 wiki 系統, 一般執行 php 程式的方式:
</p>
<ol>
<li class="level1"><div class="li"> 直接利用 PHP 5.4.0 版之後內建的全球資訊網來解譯 php 程式碼.</div>
</li>
<li class="level1"><div class="li"> 利用 web server 附加的延伸功能, 解譯 php 程式碼, 例如: Apache, nginx 或 mongoose 全球資訊網伺服器.</div>
</li>
</ol>

<h3 class="sectionedit1" id="以php內建伺服器執行">以PHP內建伺服器執行</h3>
<div class="level3">

<p>
執行步驟
</p>
<pre class="code">Step 1:下載 Windows 版本的 php 解譯系統
Step 2:將系統搜尋路徑指項 php.exe 所對應的目錄
Step 3:將 router.php 程式檔放入 dokuwiki index.php 所在目錄
Step 4:啟動 dos command, 執行 php -S localhost:8000 -t D:\dokuwiki router.php</pre>

<p>
<a href="http://www.php.net/manual/en/features.commandline.options.php" class="urlextern" title="http://www.php.net/manual/en/features.commandline.options.php"  rel="nofollow">php.exe 選項設定</a>
</p>

<p>
 -t 用來宣告 document root <br/>

 啟動後, 利用流覽器至 localhost:8000 即可看到 dokuwiki 執行結果.
</p>
<dl class="code">
<dt><a href="/doku.php?do=export_code&amp;id=%E8%BF%91%E7%AB%AF%E5%9F%B7%E8%A1%8Cdokuwiki&amp;codeblock=0" title="下載程式碼片段" class="mediafile mf_php">router.php</a></dt>
<dd><pre class="code php"><span class="kw2">&lt;?php</span>
<span class="co1">// router.php</span>
&nbsp;
<span class="re0">$root</span> <span class="sy0">=</span> <span class="re0">$_SERVER</span><span class="br0">&#91;</span><span class="st_h">'DOCUMENT_ROOT'</span><span class="br0">&#93;</span><span class="sy0">;</span>
<a href="http://www.php.net/chdir"><span class="kw3">chdir</span></a><span class="br0">&#40;</span><span class="re0">$root</span><span class="br0">&#41;</span><span class="sy0">;</span>
<span class="re0">$path</span> <span class="sy0">=</span> <span class="st_h">'/'</span><span class="sy0">.</span><a href="http://www.php.net/ltrim"><span class="kw3">ltrim</span></a><span class="br0">&#40;</span><a href="http://www.php.net/parse_url"><span class="kw3">parse_url</span></a><span class="br0">&#40;</span><span class="re0">$_SERVER</span><span class="br0">&#91;</span><span class="st_h">'REQUEST_URI'</span><span class="br0">&#93;</span><span class="br0">&#41;</span><span class="br0">&#91;</span><span class="st_h">'path'</span><span class="br0">&#93;</span><span class="sy0">,</span><span class="st_h">'/'</span><span class="br0">&#41;</span><span class="sy0">;</span>
<a href="http://www.php.net/set_include_path"><span class="kw3">set_include_path</span></a><span class="br0">&#40;</span><a href="http://www.php.net/get_include_path"><span class="kw3">get_include_path</span></a><span class="br0">&#40;</span><span class="br0">&#41;</span><span class="sy0">.</span><span class="st_h">':'</span><span class="sy0">.</span>__DIR__<span class="br0">&#41;</span><span class="sy0">;</span>
<span class="kw1">if</span><span class="br0">&#40;</span><a href="http://www.php.net/file_exists"><span class="kw3">file_exists</span></a><span class="br0">&#40;</span><span class="re0">$root</span><span class="sy0">.</span><span class="re0">$path</span><span class="br0">&#41;</span><span class="br0">&#41;</span>
<span class="br0">&#123;</span>
	<span class="kw1">if</span><span class="br0">&#40;</span><a href="http://www.php.net/is_dir"><span class="kw3">is_dir</span></a><span class="br0">&#40;</span><span class="re0">$root</span><span class="sy0">.</span><span class="re0">$path</span><span class="br0">&#41;</span> <span class="sy0">&amp;&amp;</span> <a href="http://www.php.net/substr"><span class="kw3">substr</span></a><span class="br0">&#40;</span><span class="re0">$path</span><span class="sy0">,</span><a href="http://www.php.net/strlen"><span class="kw3">strlen</span></a><span class="br0">&#40;</span><span class="re0">$path</span><span class="br0">&#41;</span> <span class="sy0">-</span> <span class="nu0">1</span><span class="sy0">,</span> <span class="nu0">1</span><span class="br0">&#41;</span> <span class="sy0">!==</span> <span class="st_h">'/'</span><span class="br0">&#41;</span>
		<span class="re0">$path</span> <span class="sy0">=</span> <a href="http://www.php.net/rtrim"><span class="kw3">rtrim</span></a><span class="br0">&#40;</span><span class="re0">$path</span><span class="sy0">,</span><span class="st_h">'/'</span><span class="br0">&#41;</span><span class="sy0">.</span><span class="st_h">'/index.php'</span><span class="sy0">;</span>
	<span class="kw1">if</span><span class="br0">&#40;</span><a href="http://www.php.net/strpos"><span class="kw3">strpos</span></a><span class="br0">&#40;</span><span class="re0">$path</span><span class="sy0">,</span><span class="st_h">'.php'</span><span class="br0">&#41;</span> <span class="sy0">===</span> <span class="kw4">false</span><span class="br0">&#41;</span> <span class="kw1">return</span> <span class="kw4">false</span><span class="sy0">;</span>
	<span class="kw1">else</span> <span class="br0">&#123;</span>
		<a href="http://www.php.net/chdir"><span class="kw3">chdir</span></a><span class="br0">&#40;</span><a href="http://www.php.net/dirname"><span class="kw3">dirname</span></a><span class="br0">&#40;</span><span class="re0">$root</span><span class="sy0">.</span><span class="re0">$path</span><span class="br0">&#41;</span><span class="br0">&#41;</span><span class="sy0">;</span>
		<span class="kw1">require_once</span> <span class="re0">$root</span><span class="sy0">.</span><span class="re0">$path</span><span class="sy0">;</span>
	<span class="br0">&#125;</span>
<span class="br0">&#125;</span><span class="kw1">else</span> <span class="kw1">include_once</span> <span class="st_h">'index.php'</span><span class="sy0">;</span></pre>
</dd></dl>

</div>
<!-- EDIT1 SECTION "以PHP內建伺服器執行" [316-1361] -->
<h3 class="sectionedit2" id="以_mongoose_web_server_執行">以 mongoose web server 執行</h3>
<div class="level3">

<p>
<a href="https://copy.com/So6e4kSQ9vuc" class="urlextern" title="https://copy.com/So6e4kSQ9vuc"  rel="nofollow">下載 mongoose web server</a>
</p>

<p>
mongoose.conf
 
</p>
<pre class="code file moongoose.conf"># Mongoose web server configuration file.
# Lines starting with '#' and empty lines are ignored.
# For detailed description of every option, visit
# http://code.google.com/p/mongoose/wiki/MongooseManual
#
# cgi_pattern **.cgi$|**.pl$|**.php$|**.py$
# 只將 php 檔案當作 cgi 可執行程式
cgi_pattern **.php$
# cgi_environment &lt;value&gt;
# put_delete_passwords_file &lt;value&gt;
# 直接設定利用 php 解譯 php
cgi_interpreter V:\IDE\php-5.5.9-nts-Win32-VC11-x86\php-cgi.exe -c V:\IDE\php-5.5.9-nts-Win32-VC11-x86\php.ini
#
# 用 protect_uri 來保護特定目錄
#protect_uri /content=V:/certificates/password.txt,/cmsimple=V:/certificates/password.txt
#
# 設定保護回應的 domain
# authentication_domain mydomain.com
# ssi_pattern **.shtml$|**.shtm$
# throttle &lt;value&gt;
access_log_file V:/tmp/mongoose_access_log.txt
#
# 關閉目錄資料列出功能
enable_directory_listing no
error_log_file V:/tmp/mongoose_error_log.txt
# global_passwords_file &lt;value&gt;
# index_files index.html,index.htm,index.cgi,index.shtml,index.php
# enable_keep_alive no
# access_control_list &lt;value&gt;
# extra_mime_types &lt;value&gt;
#
listening_ports 8084,443s
document_root V:/www/dokuwiki
#
# SSL 數位簽署檔案
ssl_certificate V:/certificates/ssl_cert.pem
#
# num_threads 20
# run_as_user &lt;value&gt;
# url_rewrite_patterns &lt;value&gt;
# hide_files_patterns &lt;value&gt;
#
# access control list (ACL), - for deny and + for allow
# 只允許 127.0.0.1 連結
l	-0.0.0.0/0,+127.0.0.1,+192.168.1.0/24
#
# alias mapping support, 將 local 的 V:\temp 對應為 http://localhost/temp, 多重對應以逗點隔開
# w /temp=V:\temp,/tmp=V:\tmp
#w /exam=V:\TCExam,/phpmyadmin=V:\phpMyAdmin-3.5.3-english,/cms=V:\cmsimplexh1542
#w /dnd=V:\dndUploader-master\public_html,/three.js=V:\three.js,/brython=V:\Brython-20121229-085018
# hide file pattern, 讓使用者無法連結 所有 .htm 與 .db 檔案
# x **.htm$,**.db$</pre>

</div>
<!-- EDIT2 SECTION "以 mongoose web server 執行" [1362-3396] -->
<h3 class="sectionedit3" id="安裝_dokuwiki">安裝 Dokuwiki</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> 執行 <a href="http://localhost:8000/install.php" class="urlextern" title="http://localhost:8000/install.php"  rel="nofollow">http://localhost:8000/install.php</a> 安裝</div>
</li>
<li class="level1"><div class="li"> Dokuwiki 安裝之後, 會產生 conf/local.php, users.auth.php 與 acl.auth.php 等三個檔案, 完成安裝後若要重新安裝則需要刪除此三個檔案.</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "安裝 Dokuwiki" [3397-] -->