
<h2 class="sectionedit1" id="批次匯入使用者">批次匯入使用者</h2>
<div class="level2">

<p>
需提供 CSV 格式的使用者列表檔案（UTF-8 編碼）。
每列至少 4 欄，依序為：帳號、姓名、電郵、群組。
各欄以半形逗號 (,) 分隔，有半形逗號的字串可用半形雙引號 (””) 分開，引號可用反斜線 (\) 跳脫。
重複的使用者帳號會自動忽略。
如需要範例檔案，可用上面的「匯出使用者」取得。
</p>

<p>
系統會為成功匯入的使用者產生密碼並寄信通知。
</p>

</div>
