
<p>
vimeo <a href="https://vimeo.com/92906489" class="urlextern" title="https://vimeo.com/92906489"  rel="nofollow">https://vimeo.com/92906489</a> <br/>

</p>
<iframe src="http://player.vimeo.com/video/92906489" height="350" width="425" class="vshare__none" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
<p>
 <br/>

</p>
<iframe src="http://www.youtube.com/embed/Smh5CjjeNxY" height="350" width="425" class="vshare__none" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
<p>
 <br/>

</p>

<p>

這是一段用 <font color="red" size="+1">HTML 寫的紅色字(size=+1)</font>

</p>
